---
import type { GetStaticPaths } from "astro";
import type { Pokemonlistresponse } from "../../interfaces/pokemonList.response";

import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/pokemonCard.astro";

export const getStaticPaths = (async () => {
  const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  if (!response.ok) {
    throw new Error("Failed to fetch Pokemon data");
  }
  const pokemons = (await response.json()) as Pokemonlistresponse;
  const pokemonList = pokemons.results;
  const paths = pokemonList.map((pokemon) => {
    const id = pokemon.url.split("/").slice(-2, -1)[0];
    return {
      params: { name: pokemon.name },
      props: { name: pokemon.name, id },
    };
  });
  return paths;
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { id } = Astro.props;

const audioUrl = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title="hola">
  <a href="/">back</a>
  <section class="mt-10 mx-10 flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl capitalize font-bold">{name}</h1>
    </div>
    <PokemonCard name={name} id={id} />

    <audio controls class="mt-4">
      <source src={audioUrl} type="audio/ogg" />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>
